/* ---------------general rules--------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin-right: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #111111;
}

.adress {
    margin-left: auto;
}

.point {
    list-style: none;
}

/* swiper */

.swiper-slide {
    padding: 30px 0 70px 0;
}

.swiper-img {
    text-align: center;
}

.swiper-img img {
    max-width: 100%;
}

/* стилі стрілок */
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    color: tomato;
    font-size: 80px;
}

/* стилі пагінації */
.swiper .swiper-pagination {
    bottom: 0;
}

/* булети */
.swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: tomato;
}

/* зміна вигляду активного булета */
.swiper .swiper-pagination-bullet-active {
    border-radius: 40%;
}

/* фракції(цифрова позначка номеру слайду без булетів/лише цифри) */
.swiper .swiper-pagination-fraction {
    font-size: 20px;
    color: tomato;
}

/* прогресбар */
.swiper .swiper-pagination-progressbar-fill {
    background-color: tomato;
}

/* скроллбар */
.swiper .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: tomato;
}

/* авто-ширина (задаватиметься шириною контенту і к-сть слайдів на сторінці буде автоматиною */
.swiper .swiper-slide {
    /* width: auto; */
}

/* мультирядковість */
/* потрібно задати сталу висоту або помістити у блок з заданою висотою */
/* .swiper {
    height: 700px;
} */

/* також потрібно задати висоту для самих слайдів */
/* .swiper .swiper-slide {
    height: calc((100% - 30px) / 2);
    overflow: hidden;
} */

/* вертикальний слайдер */
.swiper {
    /* padding: 0px 0 0px 0;
    height: 700px; */
}

/* куб-ефект */
/* .swiper {
    width: 500px;
} */